html {background-color: rgb(74, 3, 3);}

h1, h2, .title-p {color: White;}

h1 {margin-bottom: -5px;
font-size: 60px}

.title-p {text-align: center;
font-size: 30px;
}

figcaption {font-weight: bold;}

h1, h2 {text-align: center;}

main {
width: 1200px;
max-width: 100%;
margin: 0 auto;
align-items: center;
background-color: white;
display: flex;
flex-direction: column;
border-radius: 20%;}

.contents {padding: 30px;
padding-bottom: 0.5em;}

figure {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;}

figcaption {margin-top: 5px;
text-align: left;
font-size: 25px;}

figure img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 100%;
  padding: 0 0 5px 0;}

.description {font-size: 23px;
text-align: justify;}

.divider {
display: flex;
align-items: center;
justify-content:center;
vertical-align: middle;
width: 100vw;
height: 130px;
background-color: rgb(74, 3, 3);
margin-top: 40px;
font-size: 25px}

.quote {text-align: justify;
background: #f1f1f1;
  border-left: 5px solid rgb(74, 3, 3);
  padding: 20px;
  margin: 20px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(74, 3, 3);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);}

li {font-size: 27px;
text-shadow: 1px 1px 2px pink;
list-style: none;}

.book, .painting {display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
font-size: 18px;
}


.art {
border-radius: 100%;
padding-bottom: 50px;
display: flex;
align-items: center;
justify-content: flex-start;
flex-wrap: wrap;
gap: 5px;}

.art img {height: 500px;
width: 295px;
object-fit: cover;
border-radius: 10%}

.footer {
width: 100vw;
max-width: 100%;
height: 100px;
display: flex;
justify-content : center;
font-size: 24px;
padding : 20px 0;
text-shadow: 1px 1px 2px pink;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {color: grey;
}